<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!--Google head tag-->
    <meta name="google-site-verification" content="-HNYVIPst5QQ3jMs4AQilJ57aBwlkqstnVMJwT2-qRs"/>

    <meta charset="UTF-8">
    <!-- Meta tags -->
    <meta name="title" content="Adbhut Bharat">
    <meta name="description"
          content="Adhbhut Bharat is a website for indian history , current india,facts, freedom fighter etc.">
    <meta name="keywords"
          content="Adbhut Bharat,Indian History, Modern History,Middle History, Mid History, Ancient History, History, Current Affair, current, India,Historical places, Taj Mahal,Naya bharat, Hindustan, purana bharat, purana itihas, naya itihas, middle itihas">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Hindi">
    <meta name="revisit-after" content=" days">
    <meta name="author" content="Sakib Malik">

    <!--Og Social Media tags-->
    <meta property="og:title" content="Abhbhut Bharat"/>
    <meta property="og:url" content="https://adhbhutbharat.me/"/>
    <meta property="og:description"
          content="Adhbhut Bharat is a website for indian history , current india,facts, freedom fighter etc."/>
    <meta property="og:image"
          content="https://adhbhutbharat.me/static/logo.png"/>
    <meta property="og:type" content="website"/>

    <!--Twitter tags-->
    <meta name="twitter:title" content="Abhbhut Bharat">
    <meta name="twitter:description"
          content="Adhbhut Bharat is a website for indian history , current india,facts, freedom fighter etc">
    <meta name="twitter:description" content='https://adhbhutbharat.me/'>
    <meta name="twitter:site" content="https://adhbhutbharat.me/">
    <meta name="twitter:creator" content="@sakibmalik">
    <!--title-->
    <title>{% block title %}Welcome to Adhbhut Bharat {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">

    <!--font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
            integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href="{% static 'logo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'logo.png' %}">
    <meta name="theme-color" content="#317EFB"/>
    <style>
        .navbar-nav {
            margin-left: auto;
        }

        footer {
            position: relative;
            bottom: 0;
        }

        .navbar {
            color: white;
            background-color: #3e9541;
        }

        .navbar .btn {
            border: 2px solid pink;
            color: white;
            background-color: #0f5132;
        }

        #btn-back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
        }

        @media (max-width: 500px) {
            small .text-muted {
                margin-right: -50px !important;
            }

            .btn-group a {
                margin-left: -13px;
            }

            .align-items-center {
                font-size: 10px;
            }

            .align-items-center a {
                font-size: 10px;
            }
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'ADBH:index' %}"><img src="{% static 'logo.png' %}"
                                                                   style="width: 100%; border-radius: 10px"
                                                                   alt="not found"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link {% if  Historyactive %} active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:historicalplaces' %}">ऐतिहासिक स्थान</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  indianhistoryactive %}active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:indianhistory' %}">भारतीय इतिहास </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  currentindianactive %}active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:currentindia' %}">वर्तमान भारत</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  freedomactive %}active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:freedomfighter' %}">स्वतंत्रता सेनानी</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  factactive %}active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:factblog' %}">तथ्य ब्लॉग</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  customactive %}active {% endif %}" aria-current="page"
                       href="{% url 'ADBH:customandtradition' %}">भारत के रीति-रिवाज और परंपराएं</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link {% if  comment %}active {% endif %}" aria-current="page"
                           href="{% url 'ADBH:comments' %}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" action="{% url 'ADBH:searched' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% csrf_token %}
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Back to top button -->
<button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i>
</button>

<!--  Footer  !-->
<div class="container-lg">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-6 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="{% static 'logo.png' %}" class="image w-100" alt="not found">
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 AdbhutBharat, Inc</span>
            <span class="mb-3 mb-md-0 text-muted">This site is developed by Sakib Malik</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="#">
                <i class="fa-brands fa-twitter"></i>Twitter
            </a></li>
            <li class="ms-3"><a href="#">
                <i class="fa-brands fa-facebook"></i>Facebook
            </a></li>
            <li class="ms-3"><a href="#">
                <i class="fa-brands fa-instagram"></i>Instagram
            </a></li>
        </ul>
    </footer>
</div>
</body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{% static 'Bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'Bootstrap/jquery/jquery-3.6.0.js' %}"></script>
{% block js %}
{% endblock %}
<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 100 ||
            document.documentElement.scrollTop > 100
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</html>