{% extends 'base.html' %}
{% block css %}
    <style>
        img {
            width: 100%;
        }
        @media (max-width: 700px){
            .slideimage
            {
                height: 500px;
            }
        }
    </style>
{% endblock %}
{% load static %}
{% block content %}
    <div class="container-lg mt-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for i in data.slides %}
                    <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %} active {% endif %}"
                            aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for slide in data.slides %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ slide.image.url }}" class="slideimage" alt="not found">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ slide.name }}</h5>
                            <p>{{ slide.desc }}.</p>
                            <a href="{{ slide.link }}" class="btn btn-success">Click to Read</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- latest post !-->
    <div class="container-lg  mt-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            {% for d in data.historicalplace %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ d.image.url }}" alt="not found">
                        <div class="card-body">
                            <p class="card-text text-center">{{ d.title }}.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'ADBH:historicalplacesdetail' d.slug %}"
                                       class="btn btn-sm btn-outline-secondary text-decoration-none">View</a>
                                </div>
                                <small class="text-muted">{{ d.timestamp|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for d in data.freedomfighter %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ d.image.url }}" alt="not found">
                        <div class="card-body">
                            <p class="card-text text-center">{{ d.title }}.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'ADBH:freedomfighterdetail' d.slug %}"
                                       class="btn btn-sm btn-outline-secondary text-decoration-none">View</a>
                                </div>
                                <small class="text-muted">{{ d.timestamp|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for d in data.factblog %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ d.image.url }}" alt="not found">
                        <div class="card-body">
                            <p class="card-text text-center">{{ d.title }}.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'ADBH:factblogdetail' d.slug %}"
                                       class="btn btn-sm btn-outline-secondary text-decoration-none">View</a>
                                </div>
                                <small class="text-muted">{{ d.timestamp|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for d in data.customandtradition %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ d.image.url }}" alt="not found">
                        <div class="card-body">
                            <p class="card-text text-center">{{ d.title }}.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'ADBH:customandtraditiondetail' d.slug %}"
                                       class="btn btn-sm btn-outline-secondary text-decoration-none">View</a>
                                </div>
                                <small class="text-muted">{{ d.timestamp|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
    <!-- Summary indian history !-->
    <div class="container-lg mt-3">
        <h5>भारत का संक्षिप्त इतिहास क्या है?</h5>
        <p>भारत का इतिहास भारत के अस्तित्व के साथ ही शुरू होता है क्योंकि यह एशिया महाद्वीप, भारत में स्थित है
            2,973,193 वर्ग किलोमीटर भूमि और 314,070 वर्ग किलोमीटर पानी शामिल है. </p>
        <p>3,287,263 वर्ग किलोमीटर के कुल क्षेत्रफल के साथ इसे दुनिया का 7वां सबसे बड़ा देश बनाना। से घिरा
            उत्तर पूर्व में भूटान, नेपाल और बांग्लादेश, उत्तर में चीन, उत्तर पश्चिम में पाकिस्तान और श्री
            दक्षिण पूर्व तट पर लंका. </p>
        <p>भारत प्राचीन सभ्यताओं का देश है। भारत के सामाजिक, आर्थिक और सांस्कृतिक विन्यास हैं
            क्षेत्रीय विस्तार की एक लंबी प्रक्रिया के उत्पाद। भारतीय इतिहास सिंधु घाटी के जन्म के साथ शुरू होता है
            सभ्यता और आर्यों का आगमन। इन दो चरणों को आमतौर पर पूर्व-वैदिक और वैदिक के रूप में वर्णित किया जाता है
            आयु। वैदिक काल में हिंदू धर्म का उदय हुआ.</p>
        <p>पांचवीं शताब्दी में अशोक के अधीन भारत का एकीकरण देखा गया, जो बौद्ध धर्म में परिवर्तित हो गया था, और यह उसी
            में है
            शासन काल में बौद्ध धर्म एशिया के कई भागों में फैल गया। आठवीं शताब्दी में पहली बार इस्लाम भारत आया
            समय और ग्यारहवीं शताब्दी तक भारत में खुद को एक राजनीतिक ताकत के रूप में मजबूती से स्थापित कर लिया था। इसका
            परिणाम हुआ
            दिल्ली सल्तनत का गठन, जो अंततः मुगल साम्राज्य द्वारा सफल हुआ, जिसके तहत भारत
            एक बार फिर राजनीतिक एकता का एक बड़ा पैमाना हासिल किया।</p>
        <p>17वीं शताब्दी में यूरोपीय लोग भारत आए। यह के विघटन के साथ मेल खाता था
            मुगल साम्राज्य, क्षेत्रीय राज्यों के लिए मार्ग प्रशस्त कर रहा है। वर्चस्व की होड़ में अंग्रेज उभरे
            'विजेता'। 1857-58 का विद्रोह, जिसने भारतीय वर्चस्व को बहाल करने की मांग की थी, कुचल दिया गया; और के साथ
            भारत की महारानी के रूप में विक्टोरिया की ताजपोशी, साम्राज्य में भारत का समावेश था
            पूरा। इसके बाद भारत का स्वतंत्रता संग्राम हुआ, जो हमें वर्ष 1947 में मिला। यहाँ है a
            भारत के इतिहास के बारे में संक्षिप्त समयरेखा:</p>
        <h5>प्राचीन भारत का इतिहास</h5>
        <p>भारत का इतिहास सिंधु घाटी सभ्यता और आर्यों के आने से शुरू होता है। ये दो चरण
            आमतौर पर पूर्व-वैदिक और वैदिक काल के रूप में वर्णित हैं। सबसे पहला साहित्यिक स्रोत जो इस पर प्रकाश डालता है
            भारत का अतीत ऋग्वेद है। परंपरा के आधार पर इस कार्य को किसी भी सटीकता के साथ निर्धारित करना कठिन है
            और भजनों में निहित अस्पष्ट खगोलीय जानकारी। सिन्धु घाटी सभ्यता, जो फली-फूली
            2800 ईसा पूर्व और 1800 ईसा पूर्व के बीच, एक उन्नत और समृद्ध आर्थिक प्रणाली थी। सिंधु घाटी के लोग
            कृषि का अभ्यास करते थे, पालतू जानवर, तांबे, कांसे और टिन और यहां तक ​​​​कि औजार और हथियार बनाते थे
            मध्य पूर्व के कुछ देशों के साथ व्यापार.</p>
        <h5>सिंधु घाटी सभ्यता</h5>
        <p>
            बहुत समय पहले, पूर्वी दुनिया में, कुछ सभ्यताओं का उदय हुआ। के उदय के मुख्य कारण
            इन शहरी सभ्यताओं की नदियों तक पहुंच थी, जो मानव के विभिन्न कार्यों की सेवा करती थीं। साथ में
            मेसोपोटामिया सभ्यता और मिस्र की सभ्यता, सिंधु घाटी सभ्यता में फैली हुई है
            उत्तर पश्चिमी भारत और आधुनिक पाकिस्तान। तीन सभ्यताओं में सबसे बड़ी, सिंधु घाटी
            सभ्यता 2600 ईसा पूर्व के आसपास फली-फूली, उस समय भारत में कृषि फलने-फूलने लगी। उपजाऊ
            सिंधु घाटी ने बड़े पैमाने पर कृषि को संभव बनाया। सबसे प्रसिद्ध शहर
            आज की तारीख में सिंधु घाटी के मोहनजोदड़ो और हड़प्पा हैं। इन दो शहरों का पता लगाने से पता चलता है
            उत्खननकर्ता सिंधु घाटी सभ्यता की समृद्धि की झलक दिखाते हैं, जो खंडहरों और इस तरह की चीजों में प्रमाणित हैं
            घरेलू सामान, युद्ध के हथियार, सोने और चांदी के आभूषण - और इसी तरह। सिन्धु घाटी के लोग
            सभ्यता सुनियोजित कस्बों और पकी हुई ईंटों से बने अच्छी तरह से डिजाइन किए गए घरों में रहती थी। के युग में
            विकास और समृद्धि, सभ्यता, दुर्भाग्य से, लगभग 1300 ईसा पूर्व तक समाप्त हो गई, जिसका मुख्य कारण
            प्राकृतिक आपदाएं </p>
        <h5>वैदिक सभ्यता</h5>
        <p>अगला युग जो भारत ने देखा, वह वैदिक सभ्यता का था, जो सरस्वती नदी के किनारे फल-फूल रही थी, जिसका नाम था
            वेदों के बाद, जो हिंदुओं के प्रारंभिक साहित्य को दर्शाते हैं। इस काल के दो महानतम महाकाव्य थे
            रामायण और महाभारत, अभी भी हिंदू धर्म के अनुयायियों द्वारा बहुत सम्मान में आयोजित किया जाता है</p>
        <h5>बौद्ध युग</h5>
        <p>इसके बाद बौद्ध युग आया, महाजनपदों के समय में, जो कि सोलह महान शक्तियाँ थीं
            7वीं और छठी शताब्दी ई.पू. उस समय की प्रमुख शक्तियाँ कपिलवस्तु के शाक्य और थे
            वैशाली के लिच्छवी। बुद्ध, जिनका मूल नाम सिद्धार्थ गौतम था, का जन्म लुंबिनी के निकट हुआ था
            कपिलवस्तु और बौद्ध धर्म के संस्थापक थे - अध्यात्म पर आधारित धर्म। 80 इंच . की उम्र में उनका निधन हो गया
            480 ईसा पूर्व लेकिन उनकी शिक्षा पूरे दक्षिणी और पूर्वी एशिया में फैली और दुनिया भर में इसका पालन किया जाता
            है
            आज। </p>
        <h5>सिकंदर का आक्रमण</h5>
        <p>जब सिकंदर ने 326 ईसा पूर्व में भारत पर आक्रमण किया, तो उसने सिंधु नदी को पार किया और भारतीय शासकों को युद्ध
            में हराया।
            युद्ध में भारतीयों के प्रयासों में उल्लेखनीय हाथियों का उपयोग था, कुछ ऐसा जो मैसेडोनिया के लोगों के पास था
            पहले कभी नहीं देखा। सिकंदर ने तब पराजित राजाओं की भूमि पर अधिकार कर लिया।</p>
        <h5>गुप्त राजवंश</h5>
        <p>गुप्त काल को भारतीय इतिहास का स्वर्ण युग कहा जाता है। जब चंद्रगुप्त मैंने प्राप्त किया
            पाटलिपुत्र को दहेज में उपहार जब 'लिच्छवियों' के मुखिया की पुत्री से विवाह किया तो वह लेटने लगा
            अपने साम्राज्य की नींव के नीचे, जो गंगा या गंगा नदी से लेकर शहर तक फैला हुआ था
            इलाहाबाद। उन्होंने 15 वर्षों तक शासन किया और उनकी सामरिक विजयों के लिए उन्हें 'राजाओं का राजा' भी कहा गया
            और भारत का फलता-फूलता राज्य। </p>
        <h5>हर्षवर्धन</h5>
        <p>भारत में अंतिम प्राचीन साम्राज्य राजा हर्षवर्धन द्वारा किया गया था, जो सिंहासन पर बैठा था
            उसके भाई की मृत्यु के बाद थन्नेश्वर और कन्नौज। अपनी कुछ विजयों में सफल होने के बावजूद, वह अंततः
            दक्कन भारत के चालुक्य साम्राज्य से हार गया। हर्षवर्धन अपनी स्थापना के लिए प्रसिद्ध थे
            चीन के साथ संबंध, और उच्च धार्मिक सहिष्णुता और मजबूत प्रशासनिक होने के लिए भी
            क्षमताएं। </p>
        <h5>मध्यकालीन भारतीय इतिहास</h5>
        <p>भारत का मध्ययुगीन इतिहास इस्लामी साम्राज्यों से अपने चरित्र को प्राप्त करने के लिए प्रसिद्ध है।
            लगभग तीन पीढ़ियों तक फैले मध्ययुगीन भारत में कई राज्य और राजवंश शामिल थे:
            - चालुक्य
            - पल्लवसी
            - पांड्या
            - राष्ट्रकूट
            - चोल</p>
        <p>चोल इस समय के सबसे महत्वपूर्ण शासक थे, 9वीं शताब्दी ई. उनके राज्य ने एक बड़े को कवर किया
            श्रीलंका और मालदीव सहित दक्षिण भारत का हिस्सा। जबकि शासकों ने बहादुरी से शासन किया और अंजाम दिया
            भारत में कई क्षेत्रों का विलय, 14 वीं शताब्दी ईस्वी में साम्राज्य का अंत हो गया
            काफूर मलिक नाम के एक व्यक्ति द्वारा आक्रमण। चोल राजवंश के स्मारक अभी भी बरकरार हैं और इसके लिए जाने जाते हैं
            उनका देहाती आकर्षण। </p>
        <p>अगला प्रमुख साम्राज्य मुगलों का था, जिसके पहले इस्लामी शासकों का उदय हुआ था। तैमूर का आक्रमण
            भक्ति आंदोलन नामक एक हिंदू पुनरुत्थान आंदोलन के आने से पहले भारतीय इतिहास में एक महत्वपूर्ण बिंदु था
            होना। अंतत: 16वीं शताब्दी में मुगल साम्राज्य का उदय होना शुरू हुआ। के महानतम साम्राज्यों में से एक
            भारत, मुगल साम्राज्य एक समृद्ध और गौरवशाली था, जिसमें संपूर्ण भारत एकजुट और एक द्वारा शासित था
            सम्राट। मुगल राजा बाबर, हुमायूं, शेर शाह सूरी (मुगल राजा नहीं), अकबर, जहांगीर, शाह थे
            जहान, औरंगजेब। वे कुशल लोक प्रशासन की स्थापना के लिए जिम्मेदार थे
            बुनियादी ढांचे, और कला को बढ़ावा देना। भारत में आज बड़ी संख्या में स्मारक मुगलों के हैं
            अवधि। अंतिम मुगल राजा औरंगजेब की मृत्यु ने भारत के भीतर विघटन के बीज बोए।
            भारत में इस्लामी स्थापत्य कला को प्रभावित करने वाले मुगल बादशाह आज भी पीछे मुड़कर देखते हैं। </p>
        <h5>अकबर</h5>
        <p>सम्राट अकबर, जिसे अकबर महान या जलालुद्दीन मुहम्मद अकबर के नाम से भी जाना जाता है, किसके तीसरे सम्राट थे?
            बाबर और हुमायूँ के बाद मुगल साम्राज्य। वह नसीरुद्दीन हुमायूँ के पुत्र थे और उनके उत्तराधिकारी बने
            वर्ष 1556 में सम्राट जब वह केवल 13 वर्ष के थे।</p>
        <h5>शाहजहां</h5>
        <p>शाहजहाँ, जिसे शाहबुद्दीन मोहम्मद शाहजहाँ के नाम से भी जाना जाता है, एक मुगल सम्राट था जिसने भारत में शासन
            किया था।
            1628 से 1658 तक उपमहाद्वीप। वह बाबर, हुमायूं, अकबर और जहांगीर के बाद पांचवें मुगल शासक थे।
            शाहजहाँ अपने पिता जहाँगीर के खिलाफ विद्रोह करने के बाद सिंहासन पर बैठा।</p>
        <h5>छत्रपति शिवाजी</h5>
        <p>छत्रपति शिवाजी महाराज पश्चिमी भारत में मराठा साम्राज्य के संस्थापक थे। उसे एक माना जाता है
            अपने समय के महानतम योद्धाओं में से और आज भी, उनके कारनामों की कहानियों को एक भाग के रूप में सुनाया जाता है
            लोकगीत राजा शिवाजी ने तत्कालीन प्रमुख मुगलों के एक हिस्से पर कब्जा करने के लिए छापामार रणनीति का इस्तेमाल
            किया
            साम्राज्य।</p>
        <h5>आधुनिक भारतीय इतिहास</h5>
        <p>16वीं और 17वीं शताब्दी के अंत में, भारत में यूरोपीय व्यापारिक कंपनियों ने एक-दूसरे के साथ प्रतिस्पर्धा की
            बेरहमी से अठारहवीं शताब्दी की अंतिम तिमाही तक, अंग्रेजों ने अन्य सभी को पछाड़ दिया और स्थापित किया
            खुद को भारत में प्रमुख शक्ति के रूप में। अंग्रेजों ने भारत पर लगभग दो वर्षों तक शासन किया
            सदियों और देश के सामाजिक, राजनीतिक और आर्थिक जीवन में क्रांतिकारी परिवर्तन लाए।
        </p>
        <p>हालांकि, उपनिवेशवाद की पराकाष्ठा तब हासिल हुई जब ब्रिटिश 1600 के दशक की शुरुआत में व्यापारियों के रूप में
            पहुंचे।
            मुगल शासन के बाद भारत में मौजूद विघटन का फायदा उठाते हुए, अंग्रेजों ने सक्रिय रूप से इस्तेमाल किया
            2 शताब्दियों से अधिक समय तक भारत पर शासन करने के लिए 'फूट डालो और राज करो' की रणनीति। जबकि अंग्रेज अंदर आ गए
            थे
            इससे पहले, उन्होंने केवल 1757 ई. में प्लासी की लड़ाई के बाद राजनीतिक सत्ता हासिल की थी। </p>
        <p>उन्होंने उन संसाधनों में गहरी दिलचस्पी ली जो भारत को देने थे और उन्हें पीछे मुड़कर देखा गया है
            भारत के संसाधनों के धन को लूटने वाले - जैसे वे कपास, मसाले, रेशम और चाय, कई के बीच ले गए
            अन्य संसाधन। जबकि उन्होंने भारत के बुनियादी ढांचे का एक बड़ा हिस्सा भी लाकर रखा था
            भारतीय भाप इंजन, इसे शायद ही कभी एक समान संबंध के रूप में देखा जाता है। ब्रिटिश राज विभाजनकारी था
            और धर्म के आधार पर भारतीयों को एक दूसरे के खिलाफ खड़ा करते हैं; साथ ही मजदूरों के साथ बदसलूकी भी की। भारतीय
            अनिवार्य रूप से ब्रिटिश शासन के गुलाम थे और अपने काम पर बिना किसी लाभ के कड़ी मेहनत कर रहे थे। इस,
            स्वाभाविक रूप से, कई विद्रोहों को जन्म दिया; और प्रमुख स्वतंत्रता सेनानी सबसे आगे आए। अलग अलग
            विचार की विचारधाराओं का मानना ​​था कि स्वतंत्रता प्राप्त करने के विभिन्न तरीके थे; हालाँकि, उन सभी के पास एक
            था
            सामान्य लक्ष्य - स्वतंत्रता। </p>
        <p>ब्रिटिश रानी ने जोर देकर कहा था कि अंग्रेजों का उद्देश्य भारत की प्रगति में मदद करना था - हालांकि, कई
            भारतीय नेताओं के परामर्श के बिना समस्याएं उत्पन्न हुईं। इसका एक महत्वपूर्ण उदाहरण तब था जब
            प्रथम विश्व युद्ध, ब्रिटेन ने भारत की ओर से जर्मनी पर हमला किया, भले ही भारत नहीं चाहता था
            ऐसा होने के लिए; और लाखों भारतीय सैनिक इस दौरान ब्रिटिश भारतीय सेना में सबसे आगे थे
            दोनों विश्व युद्ध - भारतीय प्रतिरोध को और तेज करते हैं। में दस लाख से अधिक भारतीय सैनिक मारे गए
            दोनों विश्व युद्ध।</p>

    </div>
{% endblock %}