{% extends 'base.html' %}
{% block css %}
    <style>
        aside {
            overflow: scroll;
            height: 500px;
        }

        .contents {
            height: 550px;
            overflow: scroll;
        }

        aside ul li a {
            margin-left: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-lg-fluid mt-2">
        <div class="row">
            <div class="col-2 border">
                <h5 class="m-auto w-75">Indian History</h5>
                <aside>
                    <ul class="list-unstyled fw-normal pb-2 small">
                        {% for slide in slides %}
                            <li><a href="{% url 'ADBH:indianhistory' %}?page={{ slide.pk }}"
                                   class="bd-links-link d-inline-block rounded text-decoration-none fw-bold text-decoration-none fw-bold  ">{{ slide.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-10 contents">
                <h5 class="text-center p-2 bg-primary text-white">Indian History</h5>
                {% for d in object_list %}
                    {{ d.title }}
                {% endfor %}
            </div>
        </div>
        <!-- Pagination!-->
        <div class="text-center mt-2">
    <span class=" p-2">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="text-white text-decoration-none bg-primary p-2">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="text-white text-decoration-none bg-primary p-2">previous</a>
        {% endif %}

        <span class="bg-success p-2 me-1 text-white">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
               class="text-white text-decoration-none bg-primary p-2">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-white text-decoration-none bg-primary p-2">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
    </div>

{% endblock %}